<launch>
    <!-- YOLO launch -->
    <!-- Config and weights folder. -->
    <arg name="input_image_topic" default="/camera/rgb/image_raw" />
    <arg name="output_image_topic" default="/camera/rgb/yolo_image_output" />
    <arg name="output_topic" default="/yolo/recognition_result" />

    <arg name="net_file" default="/../darknet_network_config/cfg/yolov3-tiny.cfg" />
    <arg name="weights_file" default="/../darknet_network_config/weights/yolov3-tiny_50000.weights" />
    <arg name="meta_file" default="/../darknet_network_config/cfg/trashnet.data" />
    <arg name="names_file" default="/../darknet_network_config/cfg/trashnet.names" />
  
    <node pkg="trashbot_launch/src" type="yolo_detector.py" name="yolo_detector" output="screen">
        <param name="net_file" type="str" value="$(arg net_file)" />
        <param name="weights_file" type="str" value="$(arg weights_file)" />
        <param name="names_file" type="str" value="$(arg names_file)" />
        <param name="meta_file" type="str" value="$(arg meta_file)" />
        <param name="input_image_topic" type="str" value="$(arg input_image_topic)" />
        <param name="output_image_topic" type="str" value="$(arg output_image_topic)" />
        <param name="output_topic" type="str" value="$(arg output_topic)" />
    </node>
    
</launch>